.Ingredient{
    background-color: white;
    margin: 10px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
  }
  
  .ContolPanelImage{
    width: 10%;
  }
  
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttons{
    width:30px;
    height: 30px;
    border: 2px solid rgb(15, 125, 235);
    background-color: rgb(15, 125, 235);
    color: white;
    border-radius: 30%;
    cursor: pointer;
    font-size: 1rem;
    margin:3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }