.Ingredient{
    background-color: white;
    margin: 10px;
    padding: 5px;;
    display: flex;
    justify-content: space-between;
  }
  
  .ContolPanelImage{
    width: 60px;
  }
  
  .title{
    margin-top: 7px;
  }
  
  .buttons{
    width:30px;
    height: 30px;
    border: 2px solid rgb(15, 125, 235);
    background-color: rgb(15, 125, 235);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    margin:3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .control{
    float: right;
  }
  