.ControlPanel{
  width:50vw;
  height: 100vh;
  background-color:gainsboro;
  position: absolute;
  right: 0;
}

.Ingredient{
  background-color: white;
  margin: 5px;
  padding: 5px;;
  display: flex;
  justify-content: space-between;
}

.ContolPanelImage{
  width: 60px;
}

.title{
  margin-top: 7px;
}

.buttons{
  width:30px;
  height: 30px;
  color: dodgerblue;
  border: 2px solid #70bbf8;
  background-color: #70bbf8;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Brush Script MT', cursive;
  font-size: 10px;
  text-align: center;
  margin:3px
}

.control{
  float: right;
}
